*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dp_1: rgb(255 255 255 / 6%);
  --dp_2: rgb(255 255 255 / 8%);
  --dp_3: rgb(255 255 255 / 10%);
  --dp_4: rgb(255 255 255 / 12%);
  --radius-sm: 0.25rem;
  --radius-s: 0.5rem;
  --def-border: 1px solid var(--dp_4);
  --spacing: 24px;
  --std-height: 48px;
  --hover: var(--dp_3);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
 
}

#app {
  padding: 35px 0 0 88px;
  min-height: 100vh;
  position: relative;
  color: #e1e3e3;
  overflow: hidden;
}

#main-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 35px);
  padding: var(--spacing);
  gap: var(--spacing);
}

#product-wrapper {
  height: 100%;
}

ul {
  list-style: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
