.nav-bar {
    width: 88px;
    height: 100%;
    padding: 24px 4px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--md-ref-palette-neutral20);
  }

  .nav-bar-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 8px;
  }

  .nav-bar-ul-anchor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 56px;
  }

  .nav-bar-ul-anchor .icon-wrapper {
    width: 70%;
    height: 32px;
    background-color: transparent;
    border-radius: 3rem;
    transition: background-color 100ms ease-in;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-bar-ul-anchor .icon-wrapper:hover {
    background-color: var(--hover);
  } 

  .nav-bar-actions-list .icon-name {
    letter-spacing: 0.1px;
    text-transform: capitalize;
  }